* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* fim do header */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #f4f4f4;
}

/* inicio footer */
footer {
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divForm {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #0f2b05;
  margin: 0;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
  margin-bottom: 10px;
}

.cliqueAqui {
  display: flex;
  justify-content: flex-end;
}

#mensagemErro {
  color: red;
}

/* Estilos para o botão "Entrar" e "Cadastrar Novo Usuário" */
.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#enviarButton,
#cadastrarButton {
  background-color: #405b39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 15px;
}

#cadastrarButton a {
  color: white;
  text-decoration: none;
}

#enviarButton a {
  color: white;
  text-decoration: none;
}

.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}

footer {
  background-color: #0f2b05;
  height: 200px;
  flex-direction: column;
  align-items: center;

}

/*css da página alterar senha*/
body.dark-mode form {
  background-color: #282828;
}

body.dark-mode .dropbtn,
body.dark-mode .opcoes,
body.dark-mode .section_mobile,
body.dark-mode #mobile, body.dark-mode .dropdown-content a   {
  background: #1e1f1e;
}

body.dark-mode .dropdown-content a:hover{
  background-color: #395533;
}
.fa-universal-access,
.fa-moon,
.fa-sun {
  color: #7a7979;
}

body.dark-mode .sessao {
  color: #fff;
}

body.dark-mode .login,
body.dark-mode .fa-search {
  color: #070b06;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #070b06;
}

body.dark-mode .btn_cadastrar,
body.dark-mode .btn_limpar,
body.dark-mode {
  background-color: #151515;
}

body.dark-mode .cliqueAqui,
body.dark-mode .conta p,
body.dark-mode #mensagem,
body.dark-mode #mensagemNome,
body.dark-mode #mensagemCpf,
body.dark-mode #mensagemCep,
body.dark-mode #mensagemEmail,
body.dark-mode #mensagemLogin,
body.dark-mode #mensagemform,
body.dark-mode .label_login,
body.dark-mode .menu_btn a,
body.dark-mode label,
body.dark-mode .home,
body.dark-mode .dropbtn,
body.dark-mode .dropbtn,
body.dark-mode a {
  color: #e1f9d7;
  /* Cor ajustada para elementos no modo escuro */
}

body.dark-mode h1 {
  color: #E1F9D7;
}

body.dark-mode p {
  color: #E1F9D7;
}

body.dark-mode .cliqueAqui a,
body.dark-mode .social-icons p,
body.dark-mode .digiteCod {
  color: #f4f4f4;
}

body.dark-mode {
  background-color: #151515;
}

body.dark-mode .container {
  background-color: #151515;
}

body.dark-mode .divForm {
  background-color: #282828;
}

body.dark-mode #enviarButton {
  background-color: #151515;
}

#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}

#mobile {
  position: fixed;
  left: -100%;
  /* Inicialmente fora da tela à esquerda */
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #405b39;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  /* Ajuste na sombra para o lado direito */
  transition: left 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.close-btn {
  position: absolute;
  top: 10px;
  /* Ajuste conforme necessário */
  right: 10px;
  /* Posição do ícone no canto superior direito do menu lateral */
  cursor: pointer;
  color: #fbf3dc;
  /* Cor do ícone */
  font-size: 24px;
  /* Tamanho do ícone */
}

.dentro_icon {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* Espaçamento interno */
}

.dentro_icon a {
  color: #fbf3dc;
  /* Cor dos links */
  padding: 10px;
  /* Espaçamento dos links */
  text-decoration: none;
  font-size: 16px;
  /* Tamanho da fonte */
  border-bottom: 1px solid #fbf3dc;
  /* Linha separadora */
}

.mobile {
  display: none;
}

.icon_mobile {
  display: none;
}

.section_mobile {
  display: none;
}

.fa-times {
  color: #7ed957;
  border-color: #7ed957;
}

#hamburguer {

  width: 35px;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}

.dentro_icon {
  display: flex;
  flex-direction: column;
}

.cliqueAqui {
  gap: 10px;
}

/*fim do css*/
/* Estilos para telas até 415px */
@media (max-width: 415px) {
 
  .container {
    min-width: 0;
  }

 
  .cliqueAqui {
    display: block;
    /* Mostrar elemento */
  }
}

/* Estilos para telas até 320px */
@media (max-width: 320px) {
  .title {
    font-size: 1rem;
  }

 
}

/* Estilos para telas entre 321px e 428px */
@media (max-width: 428px) and (min-width: 321px) {
  .pesquisa {
    width: 190px !important;
  }

  .title {
    font-size: 1.8rem;
  }
}


/* Estilos para telas até 766px */
@media (max-width: 766px) {

  .mobile_i,
  .icon_mobile {
    display: block;
  }

  .opcoes {
    display: none;
  }

  #other-things {
    right: 40px;
  }


  .section_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #405b39;
  }

 
  .dropdown .dropbtn .fa-chevron-down {
    display: none;
  }

  .opcoes {
    height: auto;
  }

  .menu_btn {
    padding: 5px 10px;
  }

}

/* Estilos para telas menores que 885px */
@media (max-width: 885px) {

  .container {
    min-width: 0;
  }
}

/* Estilos para telas entre 768px e 835px */
@media (max-width: 835px) and (min-width: 767px) {
  .container {
    min-width: 0;
  }
}

