
* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}
/* .barra_pesquisa input{
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    
} */
.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ED957;
  border-color: #7ED957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; /* Define o tamanho do input */
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #FBF3DC; /* Define a cor de fundo desejada */
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  background-color: #112a08;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


/*lembrar senha*/
.EsqueceuSenha a{
  color: rgb(100, 209, 236);
  text-decoration: none;
  margin-left: 340px;
}

.EsqueceuSenha a:hover{
  text-decoration: underline;
}

/* fim do header */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100svh;
  background-color: #f4f4f4;
}

/* inicio footer */

footer{
    background-color: #0f2b05;
    height: 200px;
}

.divForm {
  width: 100%;
max-width: 600px;
background-color: #fff;
padding: 3rem;
box-sizing: border-box;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #0f2b05;
  margin: 0;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
}

/* Estilos para o botão "Enviar" */
.button-box {
  float: left;
  margin-right: 60px;
  margin-left: 195px;
  margin-top: 50px;
}

#enviarButton,
#cadastrarButton {
  background-color: #405b39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#cadastrarButton a {
  color: white;
  text-decoration: none;
}

#enviarButton a {
  color: white;
  text-decoration: none;
}