* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}
/* .barra_pesquisa input{
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    
} */
.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ED957;
  border-color: #7ED957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; /* Define o tamanho do input */
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #FBF3DC; /* Define a cor de fundo desejada */
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  background-color: #112a08;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

/* fim do header */

/* formulario */
.formulario {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* Estilo para o formulário dentro da seção */
.formulario form {
  width: 40%;
  max-width: 600px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos */
.label_login {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilo para os campos de entrada */
.input_login {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;

}

/* Estilo para os botões */
.btn_cadastrar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para o container de senha com ícone de olho */
.password-container {
  position: relative;
}

/* Estilo para o ícone de olho */
.fa-eye {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2; /* para garantir que o ícone fique sobre o input */
}


.genero{
  margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}










/* inicio footer */

footer{
   
    background-color: #0f2b05;
    height: 200px;
}