* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  transition:.5s ;
  background-color: white;

}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}
/* .barra_pesquisa input{
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    
} */
.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
  position: relative; /* Adiciona posição relativa para que possamos usar position absolute no #produtos */
}
#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; /* Define o tamanho do input */
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #fbf3dc; /* Define a cor de fundo desejada */
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  background-color: #405b39;

  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.home {
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #405B39;
  color: #FBF3DC;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #405B39;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  color: #FBF3DC;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0F2B05;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* fim do header */

/* formulario */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* Estilo para o formulário dentro da seção */
.formulario form {
  width: 35%;
  max-width: 600px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos */
.label_login {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 30px;
}

/* Estilo para os campos de entrada */
.input_login {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para os botões */
.btn_cadastrar,
.btn_limpar {
  padding: 10px 20px;
  background-color: #405b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Estilo para o container de senha com ícone de olho */
.password-container {
  position: relative;
}

/* Estilo para o ícone de olho */
.fa-eye {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2; /* para garantir que o ícone fique sobre o input */
}
/* 
/* Estilos para o formulário de cadastro */
.genero {
  display: flex;
  flex-direction: column; /* Exibir os elementos em coluna */
}

/* Estilo para cada item de gênero */
.genero label {
  margin-bottom: 5px; /* Adiciona um espaçamento entre cada item */
}

#mensagem,
#mensagemNome,
#mensagemCpf,
#mensagemCep,
#mensagemEmail,
#mensagemLogin,
#mensagemform {
  margin-bottom: 10px;
  color: #0f2b05;
}

.conta {
  display: flex;
  justify-content: flex-end;
}
.sessao {
  margin-left: 5px;
}

/* inicio footer */

footer {
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;
}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */
}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}

@media (max-width: 624px) {

  .pesquisa {
    width: 100%; /* Ocupa a largura total */
  }
  .header ul li {
    text-align: center;
  }
  .formulario form {
    width: 70%;
  }
  .conta {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .sessao {
    margin-top: 5px;
  }
  .genero input{
    margin-left: 8rem;
  }
}

/* Para celulares pequenos (telas menores que 400px) */
@media (max-width: 400px) {
  .buttons{
    display: flex;
   gap: 1rem;
  }
}
.trilho{
  width: 30px; /* Largura reduzida */
  height: 90px; /* Altura ajustada para formato vertical */
  background-color: #4d4d4d;
  border-radius: 45px; /* Raio de borda ajustado para a nova altura/proporção */
  position: fixed;
  left: 5px; /* Ajustado para ficar mais próximo à barra de rolagem */
  top: 230px; /* Posiciona o trilho na vertical. Ajuste conforme necessário */
  cursor: pointer;
  z-index: 1000; /* Garante que o elemento fique acima de outros conteúdos da página */
}

.trilho .indicador{
  width: 30px; /* Largura ajustada para corresponder à do trilho */
  height: 30px; /* Altura ajustada para um indicador mais compacto */
  background-color: #000;
  border-radius: 50%; /* Mantém forma circular */
  position: absolute;
  left: 0; /* Posicionado à esquerda por padrão */
  bottom: 0; /* Posicionado na parte inferior para início no modo claro */
  transition: .5s; /* Suaviza a transição entre estados */
}

.trilho.dark .indicador{
  bottom: 60px; /* Desloca o indicador para cima, para o modo escuro */
  background-color: #ffff;
}

.trilho.dark {
  background-color: #c3c3c3;
}

body.dark{
  background-color: #000;
}

body.dark form{
  background-color: bisque;
}
