body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

.container-alert {
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}


/* formulario */
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* Estilo para o formulário dentro da seção */
.formulario form {
  width: 35%;
  max-width: 600px;
  padding: 3rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos */
.label_login {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 30px;
}

/* Estilo para os campos de entrada */
.input_login {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para os botões */
.btn_cadastrar,
.btn_limpar {
  padding: 10px 20px;
  background-color: #405b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

/* Estilo para o container de senha com ícone de olho */
.password-container {
  position: relative;
}

/* Estilo para o ícone de olho */
.fa-eye {
  position: absolute;
  top: 30%;
  font-size: 20px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  /* para garantir que o ícone fique sobre o input */
}


/* Estilo para cada item de gênero */
.genero label {
  margin-bottom: 5px;
  /* Adiciona um espaçamento entre cada item */
}

#mensagem,
#mensagemNome,
#mensagemCpf,
#mensagemCep,
#mensagemEmail,
#mensagemLogin,
#mensagemform {
  margin-bottom: 10px;
  color: #0f2b05;
}

.conta {
  display: flex;
  justify-content: flex-end;
}

.sessao {
  margin-left: 5px;
}

/* inicio footer */

footer {
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;
}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */
}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}


/* inicio DARK MODE */
body.dark-mode {
  background-color: #151515;
}

body.dark-mode form {
  background-color: #282828;
}

body.dark-mode .opcoes,
body.dark-mode .section_mobile,
body.dark-mode #mobile,
body.dark-mode .dropdown-content,body.dark-mode .dropdown-content a {
  background: #1E1F1E;

}

.fa-universal-access,
.fa-moon,
.fa-sun {
  color: #7A7979;
}

body.dark-mode .sessao {
  color: #fff;
}

body.dark-mode .login,
body.dark-mode .fa-search {

  color: #070B06;
}

body.dark-mode header,
body.dark-mode footer,
.dropdown-content a:hover {
  background-color: #070B06;
}

body.dark-mode .btn_cadastrar,
body.dark-mode .btn_limpar {
  background-color: #151515;
}

body.dark-mode .conta p,
body.dark-mode #mensagem,
body.dark-mode #mensagemNome,
body.dark-mode #mensagemCpf,
body.dark-mode #mensagemCep,
body.dark-mode #mensagemEmail,
body.dark-mode #mensagemLogin,
body.dark-mode #mensagemform,
body.dark-mode .label_login,
body.dark-mode .menu_btn a,
body.dark-mode label,
body.dark-mode .home,
body.dark-mode .dropbtn,
body.dark-mode .dropbtn,
body.dark-mode a {
  color: #E1F9D7;
  /* Cor ajustada para elementos no modo escuro */
}


#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}

/* FINAL DO DARK MODE */

/* Estilo para o menu lateral escondido e animação */
#mobile {
  position: fixed;
  left: -100%;
  /* Inicialmente fora da tela à esquerda */
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #405b39;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  /* Ajuste na sombra para o lado direito */
  transition: left 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.close-btn {
  position: absolute;
  top: 10px;
  /* Ajuste conforme necessário */
  right: 10px;
  /* Posição do ícone no canto superior direito do menu lateral */
  cursor: pointer;
  color: #fbf3dc;
  /* Cor do ícone */
  font-size: 24px;
  /* Tamanho do ícone */
}

.dentro_icon {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* Espaçamento interno */
}

.dentro_icon a {
  color: #fbf3dc;
  /* Cor dos links */
  padding: 10px;
  /* Espaçamento dos links */
  text-decoration: none;
  font-size: 16px;
  /* Tamanho da fonte */
  border-bottom: 1px solid #fbf3dc;
  /* Linha separadora */
}

.mobile {
  display: none;
}

.icon_mobile {
  display: none;
}

.section_mobile {
  display: none;
}

.fa-times {
  color: #7ed957;
  border-color: #7ed957;
}

#hamburguer {

  width: 35px;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}

.dentro_icon {
  display: flex;
  flex-direction: column;
}
body.dark-mode .dropdown-content a:hover{
  background-color: #395533;
}
/* Media queries para responsividade */
/* Estilos para telas até 766px */

@media (max-width: 415px) {
 
  .formulario form {
    width: auto;
  }

 
  .conta {
    display: block;
  }

  .buttons {
    display: flex;
    gap: 10px;

  }

}


@media (max-width: 320px) {



  .formulario form {
    width: auto !important;
  }

  .buttons {
    display: flex;
    gap: 10px;

  }

}

/* Estilos para telas entre 321px e 428px */
@media (max-width: 428px) and (min-width: 321px) {
 
  .formulario form {
    width: auto !important;
  }
  .buttons {
    display: flex;
    gap: 10px;

  }

  .conta {
    display: block;
  }


}

@media (max-width: 917px) and (min-width: 885px) {
  
  .buttons {
    display: flex;
    gap: 10px;

  }
  .formulario form {
    width: 50%;
  }

}

@media (max-width: 885px) {
 
  .buttons {
    display: flex;
    gap: 5px;

  }
  .formulario form {
    width: 45%;
  }

  .container {
    min-width: 0;
  }

}

/* Estilos para telas entre 768px e 835px */
@media (max-width: 835px) and (min-width: 767px) {
  
  .formulario form {
    width: 50%;
  }
  .buttons {
    display: flex;
    gap: 5px;

  }

}

@media (max-width: 768px) {

  .buttons {
    display: flex;
    gap: 5px;

  }


  .conta {
    display: block;
  }
}

@media (max-width: 529px) and (min-width: 429px) {

  .formulario form {
    width: 70%;
  }
  .buttons {
    display: flex;
    gap: 10px;

  }


}