body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}

.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ED957;
  border-color: #7ED957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; 
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #FBF3DC;
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  background-color: #112a08;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

/* fim do header */
/* Estilos para o modal de confirmação */
.modal {
  display: none; /* Por padrão, o modal estará oculto */
  position: fixed; /* Posiciona o modal de forma fixa na tela */
  z-index: 999; /* Define uma pilha de contexto alta para que o modal esteja sempre acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semi-transparente */
}

.modal-content {
  background-color: #fff; /* Cor de fundo do modal */
  border-radius: 5px; /* Bordas arredondadas */
  width: 300px; /* Largura do modal */
  padding: 20px; /* Espaçamento interno */
  position: absolute;
  left: 50%; /* Centraliza o modal horizontalmente */
  top: 50%; /* Centraliza o modal verticalmente */
  transform: translate(-50%, -50%); /* Centraliza o modal na tela */
}

.modal p {
  margin-bottom: 20px; /* Espaçamento inferior para o texto */
}

.modal button {
  padding: 10px 20px; /* Espaçamento interno do botão */
  margin-right: 10px; /* Margem direita entre os botões */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-btn {
  background-color: #405b39;
  color: #fff;
}

#cancel-btn {
  background-color: #ccc;
}
/* Estilos para o botão de exclusão */
.delete-btn {
  padding: 10px 20px;
  background-color: #E38F84;
; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.delete-btn:hover {
  background-color: #E38F84;
; /* Cor de fundo ao passar o mouse */
}


/* inicio da tabela */
form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 0 auto; /* Isso centralizará o formulário na página */
  max-width: 400px; /* Defina a largura máxima para evitar que o formulário se estenda demais */
  margin-bottom: 50px;
  margin-top: 150px;
}
.title{
  color: #0f2b05;
  margin: 0;
}

.input-box {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
}
button[type="submit"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #405b39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 15px;
}
button[type="submit"]:hover {
  background-color:#112a08;
}
th {
background-color: #405b39;
  color: #fbf3dc;
  padding: 15px; /* Aumenta o padding para deixar mais espaçado */
  text-align: center; /* Centraliza o texto horizontalmente */
  font-weight: bold; /* Deixa o texto em negrito */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  border-bottom: 2px solid #ccc; /* Adiciona uma borda inferior */
  border-radius: 1px; /* Adiciona bordas arredondadas */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
  transition: background-color 0.3s ease; /* Adiciona transição suave ao fundo */
}

th:hover {
  background-color: #e0e0e0; /* Muda a cor de fundo quando hover */
}

#tabelaUsuarios {
  margin: 0 auto; 
  width: 38%; /* Você pode ajustar a largura conforme necessário */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#tabelaUsuarios th,
#tabelaUsuarios td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
/* Estilos para a tabela de usuario */
#tabelaUsuarios th {
  background-color: #405b39;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabelaUsuarios tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabelaUsuarios tbody tr:hover {
  background-color: #f2f2f2;
}

#tabelaUsuarios tbody tr:last-child td {
  border-bottom: none;
}

#tabelaUsuarios th:first-child,
#tabelaUsuarios td:first-child {
  border-left: none;
}

#tabelaUsuarios th:last-child,
#tabelaUsuarios td:last-child {
  border-right: none;
}
h1 {
  color: #405b39;
  text-align: center;
  margin-top: 50px; /* Adiciona um espaçamento superior */

}
header {
  margin-bottom: 40px; /* Adicione margem inferior ao header para separá-lo do conteúdo abaixo */
}



/* inicio footer */
footer {
    margin-top: 400px;
    background-color: #0f2b05;
    height: 200px;
    position: relative;

}

.social-icons {
    text-align: center;


}
.social {
    color: #fff; /* Cor do texto */
    text-align: center;
    font-size: 16px; /* Tamanho da fonte */

}

.social-icons .icon {
    display: inline-block;
    margin: 10px 20px 0; /* Adicionando uma margem superior de  */
    font-size: 30px; /* Aumentei o tamanho dos ícones */
    color: #fff;
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
  }

  .social-icons .icon:hover {
      transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% no hover */
  }


.contact-info {
    text-align: right;
    color: #fff; /* Alterei a cor do texto */
    margin-right: 20px; /* Adicionei margem à direita para afastar do lado direito do footer */
}

.contact-info p {
    margin: 3px 0; /* Ajustei a margem superior e inferior */
    font-size: 16px; /* Aumentei o tamanho da fonte */
}
#produtos {
  font-size: 18px;
  color: #fbf3dc;
  transition: margin-top 0.3s; /* Adiciona uma transição para uma animação suave */
}

#produtos:hover {
  margin-top: 10px; /* Define a margem superior durante o hover */
}

.categorias {
  display: none;
  position: absolute;
  top: calc(100% + 1px); /* Calcula a posição com base na altura do elemento pai */
  left: 0;
  background-color: #405b39;
  padding: 10px;
  margin-left: 150px;
}

.categorias li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer; /* Altera o cursor para indicar que os itens são clicáveis */
}

.categorias li:hover {
  background-color: #7ED957; /* Altera a cor de fundo quando o mouse está sobre a categoria */
}

/* COMEÇO DA RESPONSIVIDADE DA PÁGINA*/
@media only screen and (max-width: 767px) {
.header {
  height: auto; /* Defina a altura automática para acomodar o conteúdo */
  flex-direction: column; /* Empilhe os itens verticalmente */
  align-items: center; /* Alinhe os itens ao centro */
}

.logo {
  width: 100%; /* Faça a logo ocupar a largura total do contêiner */
  height: auto; /* Mantenha a proporção */
  margin-bottom: 20px; /* Adicione espaço abaixo da logo */
}
  ul {
    flex-direction: column; /* Empilhe os itens da lista verticalmente */
    align-items: center; /* Alinhe os itens ao centro */
  }
  footer {
    flex-direction: column; /* Empilhe os itens verticalmente */
    align-items: center; /* Alinhe os itens ao centro */
  }

  .social-icons {
    margin-bottom: 20px; /* Adicione espaço abaixo dos ícones sociais */
  }
}
/* Responsividade para o formulário */
@media only screen and (max-width: 767px) {
  form {
    max-width: 50%; /* Reduz a largura do formulário para 90% da largura da tela */
    padding: 20px; /* Reduz o preenchimento para 20px */
  }

  .input-box {
    margin-bottom: 10px; /* Reduz a margem inferior para 10px */
  }

  button[type="submit"] {
    font-size: 0.9rem; /* Reduz o tamanho da fonte do botão */
  }
}

/* Responsividade para os produtos */
@media only screen and (max-width: 767px) {
  .col {
    flex: 0 0 calc(50% - 20px); /* Faça as colunas ocuparem 50% da largura */
    max-width: calc(50% - 20px); /* Largura máxima de 50% */
    margin-right: 10px; /* Adicione margem à direita para separar as colunas */
    margin-bottom: 20px; /* Adicione espaço entre as linhas de cartões */
  }

  .card img {
    width: 100%; /* Faça as imagens dos cartões ocuparem toda a largura do cartão */
    height: auto; /* Mantenha a proporção */
  }
}

/* Responsividade para as categorias */
@media only screen and (max-width: 767px) {
  .categorias {
    left: 0; /* Alinha as categorias à esquerda */
    margin-left: 0; /* Remove a margem esquerda */
    width: 100%; /* Define a largura para 100% */
    text-align: center; /* Centraliza o texto */
  }

  .categorias li {
    margin: 5px 0; /* Adiciona espaço entre os itens de categoria */
  }
}
