* {
  margin: 0;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0f2b05;
}

.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}

.paginas {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.header .paginas li {
  list-style-type: none;
  font-size: 20px;
}


.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
  position: relative;
  /* Adiciona posição relativa para que possamos usar position absolute no #produtos */
}

a {
  color: inherit;
  text-decoration: none;
  /* Remove o sublinhado */
}

.opcoes h2 {
  color: #fbf3dc;
}

.login {
  text-decoration: none;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  text-decoration: none;
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

/* fim do header */


/* inicio do form*/


form h1 {
  margin-top: 0%;
  padding-bottom: 4%;
  color: #0f2b05;

}

button[type="submit"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #405b39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 15px;
}

button[type="submit"]:hover {
  background-color: #112a08;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 0 auto;
  /* Isso centralizará o formulário na página */
  max-width: 400px;
  /* Defina a largura máxima para evitar que o formulário se estenda demais */
  margin-bottom: 50px;
  margin-top: 150px;
}


label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
}

/* fim do form*/

/* inicio da tabela*/
.tabela_toda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 35%;
  display: none;
}

.tabela {
  border-collapse: collapse;
  border: 1px solid #000;
  /* Borda da tabela */
  background-color: #fff;

}

.corpo_tabela {
  display: flex;
  border: 1px solid #000;
  /* Borda da tabela */
  height: 75px;
}

.corpo_tabela p {

  flex: 0.6;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000;
}

.border p {
  margin: 0;

}

.topo_tabela {
  color: rgb(251, 243, 220);
  background-color: #405b39;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0
}

/* inicio DARK MODE */
body.dark-mode,
body.dark-mode button[type="submit"] {
  background-color: #151515;
}

body.dark-mode form,
body.dark-mode .topo_tabela {
  background-color: #282828;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #070B06
}

body.dark-mode .opcoes {
  background-color: #1E1F1E;
}

body.dark-mode .opcoes h2,
body.dark-mode form h1,
body.dark-mode label,
body.dark-mode .topo_tabela,
body.dark-mode .login {
  color: #E1F9D7;
}

.fa-universal-access,
.fa-moon,
.fa-sun {
  color: #7A7979;
}

body.dark-mode .cadastrar {
  color: #070B06;
  background-color: #E1F9D7;
}

#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}

/* FINAL DO DARK MODE */

/* inicio footer */
footer {
  margin-top: 200px;
  background-color: #0f2b05;
  height: 200px;
  position: relative;


}

.social-icons {
  text-align: center;


}

.social {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */
  margin-top: 55px;

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 20px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}

@media (max-width: 768px) {
  .conteudo {
    width: 75% !important;

  }

  .header .paginas li {

    font-size: 15px;
  }

  .logo {
    width: 120px;
  }



}

@media (max-width: 1059px) {
  .conteudo {
    width: 55%;
  }
}

@media (max-width: 544px) {
  .conteudo {
    width: 95% !important;
  }
}


@media (max-width: 320px) {
  .logo {
    width: 100px;
  }
}


@media (max-width: 360px) {
  .logo {
    width: 120px;
  }
}

@media (max-width: 445px) {
  .paginas {
    gap: 0;
  }

  .logo {
    width: 98px;
  }

  .navegação {
    margin-right: 14px;
  }
}

@media (max-width: 340px) {
  .header .paginas li { font-size: 12px;}

  .navegação {
    margin-right: 18px;
  }
  .logo {
    width: 90px;
  }
}