body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}

.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ED957;
  border-color: #7ED957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; 
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #FBF3DC;
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

/* fim do header */

/* inicio do form */

.divForm {
  width: 100%;
max-width: 600px;
background-color: #fff;
padding: 3rem;
box-sizing: border-box;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #0f2b05;
  margin: 0;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
  margin-bottom: 10px;
}

/*fim form*/

/* inicio footer */
footer {
  
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}




.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}


.social-icons {
  margin-bottom: 20px;
  /* Adicione espaço abaixo dos ícones sociais */
}


/* Estilos para a seção de filtro de pesquisa */
.search-filter {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #0f2b05;
}

.pesquisa-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.pesquisa {
  width: 450px; 
  height: 30px;
  border-radius: 7px;
  border: none;
  padding: 5px 20px;
  background-color: #FBF3DC;
}

.pesquisa-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #405b39;
  cursor: pointer;
}

/* Estilos para o contêiner da tabela */
#tabelaUsuarios {
  margin: 0 auto; 
  width: 38%; /* Você pode ajustar a largura conforme necessário */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#tabelaUsuarios th,
#tabelaUsuarios td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
/* Estilos para a tabela de usuario */
#tabelaUsuarios th {
  background-color: #405b39;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabelaUsuarios tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabelaUsuarios tbody tr:hover {
  background-color: #f2f2f2;
}

#tabelaUsuarios tbody tr:last-child td {
  border-bottom: none;
}

#tabelaUsuarios th:first-child,
#tabelaUsuarios td:first-child {
  border-left: none;
}

#tabelaUsuarios th:last-child,
#tabelaUsuarios td:last-child {
  border-right: none;
}

/* Adiciona responsividade */
@media (max-width: 768px) {
  #orders-table {
      width: 95%; /* Mais largura em dispositivos menores para melhor leitura */
  }

  .pesquisa {
      width: 100%; /* Ajusta a largura da barra de pesquisa para ocupar todo o espaço disponível */
  }
}
