/* Estilos para o modal de confirmação */
.modal {
  display: none; /* Por padrão, o modal estará oculto */
  position: fixed; /* Posiciona o modal de forma fixa na tela */
  z-index: 999; /* Define uma pilha de contexto alta para que o modal esteja sempre acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semi-transparente */
}

.modal-content {
  background-color: #fff; /* Cor de fundo do modal */
  border-radius: 5px; /* Bordas arredondadas */
  width: 300px; /* Largura do modal */
  padding: 20px; /* Espaçamento interno */
  position: absolute;
  left: 50%; /* Centraliza o modal horizontalmente */
  top: 50%; /* Centraliza o modal verticalmente */
  transform: translate(-50%, -50%); /* Centraliza o modal na tela */
}

.modal p {
  margin-bottom: 20px; /* Espaçamento inferior para o texto */
}

.modal button {
  padding: 10px 20px; /* Espaçamento interno do botão */
  margin-right: 10px; /* Margem direita entre os botões */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-btn {
  background-color: #405b39;
  color: #fff;
}

#cancel-btn {
  background-color: #ccc;
}
/* Estilos para o botão de exclusão */
.delete-btn {
  padding: 10px 20px;
  background-color: #E38F84;
; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.delete-btn:hover {
  background-color: #E38F84;
; /* Cor de fundo ao passar o mouse */
}

/* Existing styles should remain, add these for the new sections */
#report-summary {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #0f2b05;
}

.btn-download {
  display: flex;
  justify-content: center;
}

#client-table {
  padding: 20px;
}

.listar-usuarios {
  color: #0f2b05;
}

.iconCard {
  width: 60px;
  padding-right: 10px;
}
.icon-clientes{
  display: flex;
  justify-content: flex-start;
}

button {
  background-color: #405b39;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0f2b05;
}


/**/

/* inicio da formulario*/

h1 {
  color: #405b39;
  text-align: center;
  margin-top: 50px; /* Adiciona um espaçamento superior */

}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 0 auto; /* Isso centralizará o formulário na página */
  max-width: 400px; /* Defina a largura máxima para evitar que o formulário se estenda demais */
  margin-bottom: 50px;
  margin-top: 150px;
}

.title{
  color: #0f2b05;
  margin: 0;
}

/* Estilos para o botão de exclusão */
.delete-btn {
  padding: 10px 20px;
  background-color: #E38F84;
; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.delete-btn:hover {
  background-color: #E38F84;
; /* Cor de fundo ao passar o mouse */
}

.input-box {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
}

button[type="submit"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #405b39;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 15px;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

/* inicio footer */
footer {
  
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}
footer{
    background-color: #0f2b05;
    height: 200px;
    flex-direction: column;
    /* Empilhe os itens verticalmente */
    align-items: center;
    /* Alinhe os itens ao centro */
}

.social-icons {
  margin-bottom: 20px;
  /* Adicione espaço abaixo dos ícones sociais */
}

/**/

#tabelaUsuarios {
  margin: 0 auto; 
  width: 38%; /* Você pode ajustar a largura conforme necessário */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#tabelaUsuarios th,
#tabelaUsuarios td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
/* Estilos para a tabela de usuario */
#tabelaUsuarios th {
  background-color: #405b39;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabelaUsuarios tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabelaUsuarios tbody tr:hover {
  background-color: #f2f2f2;
}

#tabelaUsuarios tbody tr:last-child td {
  border-bottom: none;
}

#tabelaUsuarios th:first-child,
#tabelaUsuarios td:first-child {
  border-left: none;
}

#tabelaUsuarios th:last-child,
#tabelaUsuarios td:last-child {
  border-right: none;
}

#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

/* inicio DARK MODE */

body.dark-mode .btn-download-2{
  background-color: #282828;
}

body.dark-mode, body.dark-mode
button[type="submit"] {
  background-color: #151515;
}
body.dark-mode #tabelaUsuarios tbody{
  background-color: #fff;
  
}

body.dark-mode form,
body.dark-mode #tabelaUsuarios th,
body.dark-mode .modal-content{
  background-color: #282828;
}

body.dark-mode .dropbtn, body.dark-mode .opcoes {
  background: #1E1F1E;

}

.fa-universal-access, .fa-moon, .fa-sun{
  color: #7A7979;
}
body.dark-mode .sessao{
  color: #fff;
}

body.dark-mode .login, body.dark-mode  .fa-search{

  color: #070B06;
}

 body.dark-mode header,   body.dark-mode footer{
  background-color: #070B06; 
 }

body.dark-mode .btn_cadastrar,
body.dark-mode .btn_limpar, body.dark-mode {
  background-color: #151515;
}
body.dark-mode span,
body.dark-mode p,
body.dark-mode h2,
body.dark-mode label,
body.dark-mode .title,
body.dark-mode .login 
  {
  color: #E1F9D7; /* Cor ajustada para elementos no modo escuro */
}
body.dark-mode .cadastrar {
  color: #070B06;
  background-color: #E1F9D7;
}

#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}

.fa-chevron-down {
  display: inline-block; /* ou 'block', dependendo do seu layout */
}
/* FINAL DO DARK MODE */