/* Existing styles should remain, add these for the new sections */
#report-summary {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #0f2b05;
  
}

.btn-download {
  display: flex;
  justify-content: center;
}

#client-table {
  padding: 20px;
  min-height: calc(100vh - 300px); /* Ajusta para menos a altura do footer */
}

#client-table h2 {
  color: #0f2b05;
}

.iconCard {
  width: 60px;
  padding-right: 10px;
}
.icon-clientes{
  display: flex;
  justify-content: flex-start;
}

button {
  background-color: #405b39;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0f2b05;
}


/**/

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0f2b05;
}
.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}
ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.header ul li {
  list-style-type: none;
  font-size: 20px;
}

.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  font-size: 20px;
  color: #7ED957;
  border-color: #7ED957;
}
.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 450px; 
  height: 30px;
  border-radius: 7px;
  border: none; /* Remove as bordas */
  background-color: #FBF3DC;
}

.pesquisa-icon {
  position: absolute;
  right: 15px; /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}
.opcoes h2 {
  color: #fbf3dc;
}

.login {
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


.cadastrar {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

/* fim do header */

/* inicio footer */
footer {
  
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}
footer{
    background-color: #0f2b05;
    height: 200px;
    flex-direction: column;
    /* Empilhe os itens verticalmente */
    align-items: center;
    /* Alinhe os itens ao centro */
}

.social-icons {
  margin-bottom: 20px;
  /* Adicione espaço abaixo dos ícones sociais */
}

/**/

#tabelaUsuarios {
  margin: 0 auto; 
  width: 38%; /* Você pode ajustar a largura conforme necessário */
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#tabelaUsuarios th,
#tabelaUsuarios td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
/* Estilos para a tabela de usuario */
#tabelaUsuarios th {
  background-color: #405b39;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tabelaUsuarios tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabelaUsuarios tbody tr:hover {
  background-color: #f2f2f2;
}

#tabelaUsuarios tbody tr:last-child td {
  border-bottom: none;
}

#tabelaUsuarios th:first-child,
#tabelaUsuarios td:first-child {
  border-left: none;
}

#tabelaUsuarios th:last-child,
#tabelaUsuarios td:last-child {
  border-right: none;
}

/* Dark mode */
body.dark-mode #report-summary,
body.dark-mode form {
  background-color: #282828;
}

body.dark-mode .dropbtn,
body.dark-mode .opcoes, body.dark-mode .section_mobile, body.dark-mode #mobile {
  background: #1e1f1e;
}

.fa-universal-access,
.fa-moon,
.fa-sun {
  color: #7a7979;
}
body.dark-mode .sessao {
  color: #fff;
}
body.dark-mode .cadastrar,
body.dark-mode .login,
body.dark-mode .fa-search {
  color: #070b06;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #070b06;
}
body.dark-mode #btn-pesquisar,
body.dark-mode .btn_cadastrar,
body.dark-mode .btn_limpar,
body.dark-mode {
  background-color: #151515;
}
body.dark-mode .login,
body.dark-mode .cliqueAqui,
body.dark-mode .conta p,
body.dark-mode #mensagem,
body.dark-mode #mensagemNome,
body.dark-mode #mensagemCpf,
body.dark-mode #mensagemCep,
body.dark-mode #mensagemEmail,
body.dark-mode #mensagemLogin,
body.dark-mode #mensagemform,
body.dark-mode .label_login,
body.dark-mode .menu_btn a,
body.dark-mode label,
body.dark-mode .home,
body.dark-mode .dropbtn,
body.dark-mode .dropbtn, body.dark-mode a {
  color: #e1f9d7; /* Cor ajustada para elementos no modo escuro */
}

body.dark-mode h1{
  color: #E1F9D7;
}

body.dark-mode #client-table h2 {
  color: #E1F9D7;
}

body.dark-mode p{
  color: #E1F9D7;
}
body.dark-mode .cliqueAqui a,
body.dark-mode .social-icons p,
body.dark-mode .digiteCod{
  color: #f4f4f4;
}

body.dark-mode{
  background-color: #151515;
}

body.dark-mode .container {
  background-color: #151515;
}

body.dark-mode #btn-pdf,
body.dark-mode #tabelaUsuarios th,
body.dark-mode .divForm {
  background-color: #282828;
}

body.dark-mode #enviarButton{
  background-color: #151515;
}

#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}


