* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  /* Cor padrão claro */

}

header {
  background-color: #0f2b05;

}

.header {
  height: 180px;

  display: flex;
  justify-content: space-between;
}

ul {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.header ul li {
  list-style-type: none;
  font-size: 20px;
}

.logo {
  width: 155px;
  height: 200px;
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
  position: relative;
}

#icon {
  width: 35px;
  margin-top: 2px;
  margin-right: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}

.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 490px;
  /* Define o tamanho do input */
  height: 30px;
  border-radius: 7px;
  border: none;
  /* Remove as bordas */
  background-color: #fbf3dc;
  /* Define a cor de fundo desejada */
  margin-top: 75px;
  margin-left: 30px;
}

.pesquisa-icon {
  position: absolute;
  right: 15px;
  /* Posiciona o ícone à direita */
  top: 50%;
  transform: translateY(-50%);
}

.opcoes h2 {
  color: #fbf3dc;
}

.cadastro {
  background-color: #405b39;

  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.login {
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {

  color: #fbf3dc;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #405b39;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  color: #fbf3dc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0f2b05;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu_btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu_btn a {
  color: #fbf3dc;
  font-size: 16px;
  text-decoration: none;
}


/* fim do header */

/* inicio do carrossel */
body,
html {
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Ocupa toda a largura do corpo */
  margin-bottom: 50px;
  /*  espaço entre o carrossel e o conteúdo abaixo */
}

.carousel-inner {
  display: flex;
  width: 100%;
  /*largura conteúdo do carrossel */
}

.carousel-item {
  flex: 0 0 100%;
  /* Faz as imagens ocuparem a largura total do contêiner */
}

.carousel-item img {
  width: 100%;
  /* Garante que a imagem preencha toda a largura do contêiner */

  /* Mantém a proporção da imagem */

}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/* fim do carrossel */

.titulopg {
  display: flex;
  justify-content: center;

}

.titulopg h1 {
  color: #405b39;
}

/* fim do carrossel */

/*inicio do bloco de produtos*/
.bloco-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribui os cards igualmente na linha */
}

.produto-card {
  width: calc(25% - 20px); /* Define a largura de cada card, considerando o espaçamento */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  
  transition: margin-top 0.3s;
  /* Adiciona uma transição para uma animação suave */
}

.produto-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.produto-card p {
  margin-bottom: 8px;
}


.comprar-btn {
  background-color: #405b39; /* Cor de fundo verde */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comprar-btn[type="submit"]:hover {
  background-color: #112a08; /* Altera a cor de fundo ao passar o mouse */
}


/* inicio footer */

footer {
  margin-top: 400px;
  background-color: #0f2b05;
  height: 200px;
}




/* Estilo do Modal */
#modalCarrinho.modal-carrinho {
  display: none;
  /* Oculto por padrão */
  position: fixed;
  /* Fixo na tela */
  z-index: 1;
  /* Fica sobre todos os elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite rolar se necessário */
  background-color: rgba(0, 128, 0, 0.4);
  /* Fundo verde com opacidade */
}

#modalCarrinho .modal-content {
  background-color: #fff;
  /* Cor de fundo branca */
  margin: 10% auto;
  /* Centralizado verticalmente e 10% do topo */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  /* Largura do conteúdo do modal */
  max-width: 500px;
  /* Largura máxima do modal */
}

#modalCarrinho .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modalCarrinho .close:hover,
#modalCarrinho .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #405b39;
  font-size: 24px;
  margin-bottom: 20px;
  /* Espaçamento inferior */
  text-align: center;
}

.item-info {
  /* Estilo para o BOTÃO DE REMOVER */
  display: flex;
  align-items: center;

}

.item-info p {
  margin-right: 10px;
  /* Ajuste conforme necessário */
}

.btn-remover {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}

.product-image {
  width: 50px;
  /* Defina a largura desejada para a imagem */
  height: auto;
  /* Mantenha a proporção da imagem */
}

.product-image img {
  width: 100%;
  /* Ajusta a largura da imagem para preencher o contêiner */
  height: auto;
  /* Mantenha a proporção da imagem */
  max-height: 50px;
  /* Altura máxima da imagem */
}





/* Estilo do Carrinho e o contador */

#icon {
  float: left;
  /* Garante que o ícone de carrinho de compras e o contador fiquem em linha */
  margin-right: 5px;
  /* Ajuste conforme necessário para criar espaço entre o ícone e o contador */
}

#icon-container {
  position: relative;
  /* Permitirá que o contador seja posicionado absolutamente em relação a este contêiner */
}

.carrinho-count {
  color: #fefefe;
  position: absolute;
  top: 0;
  right: -10px;
  /* Ajuste conforme necessário para posicionar o contador corretamente */
  cursor: pointer;
  /*essa linha serve para mudar o cursor do mouse para uma mãozinha quando passar o mouse em cima do contador*/

}

.finalizar-compra-btn {
  background-color: #405b39;
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
}


/* inicio footer */
footer {
  background-color: #0f2b05;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}

/* Estilo para o Produtos */

#produtos {
  font-size: 18px;
  color: #fbf3dc;
  transition: margin-top 0.3s;
  /* Adiciona uma transição para uma animação suave */
}

#produtos:hover {
  margin-top: 9px;
  /* Define a margem superior durante o hover */
}

.categorias {
  display: none;
  position: absolute;
  top: 100%;
  /* Posição abaixo do título "Produtos" */
  left: 3;
  /* Ajuste conforme necessário */
  margin-top: 0;
  /* Adicione uma margem superior para separar as categorias */
  background-color: #405b39;
  padding: 10px;
  width: 150px;
  z-index: 1;
}

.categorias li {
  font-size: 18px;
  color: #fbf3dc;
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
  /* Altera o cursor para indicar que os itens são clicáveis */
}

.categorias li:hover {
  background-color: #0f2b05;
  /* Altera a cor de fundo quando o mouse está sobre a categoria */
}

.opcoes {
  justify-content: space-around;
  display: flex;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
  position: relative;
  /* Adicione posicionamento relativo */
}

/* inicio DARK MODE */
body.dark-mode {
  background-color: #151515;
}

body.dark-mode form {
  background-color: #282828;
}

body.dark-mode .opcoes,
body.dark-mode .section_mobile,
body.dark-mode #mobile,
body.dark-mode .dropdown-content {
  background: #1E1F1E;

}

.fa-universal-access,
.fa-moon,
.fa-sun {
  color: #7A7979;
}

body.dark-mode .sessao {
  color: #fff;
}

body.dark-mode .cadastro,
body.dark-mode .fa-search {

  color: #070B06;
}

body.dark-mode header,
body.dark-mode footer,
.dropdown-content a:hover {
  background-color: #070B06;
}

body.dark-mode .btn_cadastrar,
body.dark-mode .btn_limpar {
  background-color: #151515;
}

body.dark-mode .conta p,
body.dark-mode h1,
body.dark-mode label,
body.dark-mode .home,
body.dark-mode .dropbtn,
body.dark-mode .dropbtn,
body.dark-mode a {
  color: #E1F9D7;
  /* Cor ajustada para elementos no modo escuro */
}


#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}

.img_letra {
  width: 20px;
}

.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}

.fa-sun,
.fa-moon {
  font-size: 20px;
}

.fa-chevron-down {
  display: inline-block;
  /* ou 'block', dependendo do seu layout */
}

/* FINAL DO DARK MODE */

/* Media queries para responsividade */
/* Estilo para o menu lateral escondido e animação */

/* Media queries para responsividade */
#mobile {
  position: fixed;
  left: -100%;
  /* Inicialmente fora da tela à esquerda */
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #405b39;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  /* Ajuste na sombra para o lado direito */
  transition: left 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.close-btn {
  position: absolute;
  top: 10px;
  /* Ajuste conforme necessário */
  right: 10px;
  /* Posição do ícone no canto superior direito do menu lateral */
  cursor: pointer;
  color: #fbf3dc;
  /* Cor do ícone */
  font-size: 24px;
  /* Tamanho do ícone */
}

.dentro_icon {
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* Espaçamento interno */
}

.dentro_icon a {
  color: #fbf3dc;
  /* Cor dos links */
  padding: 10px;
  /* Espaçamento dos links */
  text-decoration: none;
  font-size: 16px;
  /* Tamanho da fonte */
  border-bottom: 1px solid #fbf3dc;
  /* Linha separadora */
}

.mobile {
  display: none;
}

.icon_mobile {
  display: none;
}

.section_mobile {
  display: none;
}

.fa-times {
  color: #7ed957;
  border-color: #7ed957;
}

#hamburguer {

  width: 35px;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}

.dentro_icon {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {

  .mobile_i,
  .icon_mobile {
    display: block;
  }

  .opcoes {
    display: none;
  }

  #other-things {
    right: 40px;
  }

  .navegacao ul li {
    display: none;
  }

  .nav_a,
  .dropdown .dropbtn .fa-chevron-down {
    display: none;
  }

  .header {
    justify-content: flex-start;
    height: auto;
  }

  .section_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #405b39;

  }


  .formulario form {
    margin-left: 120px;
  }

  .pesquisa-icon {
    top: 45%;
  }

  .opcoes {
    height: auto;
  }

  .menu_btn {
    padding: 5px 10px;
  }

  .pesquisa-container {
    left: 80px;
  }

  .pesquisa {
    margin-left: -51px;
    width: 350px;
  }

  .carousel-item img {
    width: 100%;

  }

}

@media screen and (max-width: 900px) and (min-width: 767px) {

  header,
  footer {
    width: 910px;
  }

  .carousel {
    width: 910px;
  }

  .pesquisa {
    width: 300px;
  }
}

@media (max-width: 573px) {
  .logo {
    width: 120px !important;
  }

  .pesquisa{
    width: 210px;
  }
}

/* Estilos para telas até 320px */
@media (max-width: 320px) {

  .pesquisa {
    width: 150px !important;
  }
.logo{
  width:130px;
}
}

@media screen and (max-width: 375px) {
  .pesquisa {
    width: 150px;
  }
}

@media screen and (max-width: 390px) {
  .pesquisa {
    width: 180px;
  }
}

@media (max-width:917px) and (min-width: 901px){
  .pesquisa{
    width: 300px;
  }
}