
body {
  margin: 0;
  
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  height: 180px;
  background-color: #0f2b05;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 155px;
  height: 200px;
}

.header ul li {
  list-style-type: none;
  font-size: 20px;
}

.navegacao {
  display: flex;
  gap: 20px;
}

.navegacao li {
  list-style-type: none;
  font-size: 20px;
}

.pesquisa-container {
  position: relative;
  display: inline-block;
}

.pesquisa {
  width: 490px;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: #fbf3dc;
  margin-top: 75px;
  margin-left: 30px;
}

.pesquisa-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.login {
  background-color: #405b39;

  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}

.home {
  color: #fbf3dc;
  border-radius: 7px;
  padding: 4px 10px;
  text-decoration: none;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #fbf3dc;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #405b39;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 15px;
  color: #fbf3dc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0f2b05;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.opcoes {
  display: flex;
  justify-content: space-around;
  background: #405b39;
  height: 38px;
  align-items: center;
  font-size: 12px;
}

#icon {
  width: 35px;
  margin-top: 2px;
  margin-right: 15px;
}

.menu_btn a {
  color: #fbf3dc;
  font-size: 16px;
  text-decoration: none;
}

.alinha_container {
  display: flex;
  justify-content: center;
}

.tabs-container {
  width: 100%;
  max-width: 80%;
  display: flex;
  margin: 3%;
  overflow: hidden;
  border-radius: 16px;
  background-color: #f4f4f4;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.tab-content-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
  height: 560px;
  color: #405B39;
  transition: all 0.45s ease-in-out;
  padding: 2% 2% 5% 9%;
  width: 100%;
  max-width: 80%;
  flex-direction: column;
  text-align: left;
 
}

.tab-content-wrapper a{
  text-decoration: none;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
}

.tabs a {
  display: flex;
  text-decoration: none;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #405B39;
  overflow: hidden;
  text-align: left;
  justify-content: start;
  height: 90px;
  padding: 0px 24px;
  align-items: center;
  gap: 5%;
  margin-left: 10%;
}

.tabs a:hover {
  font-weight: 700;
  color: #0F2B05;
  border-right: 3px solid #0F2B05;
}

.container-dados {
  display: flex;
  justify-content: space-between;
}
/*estilo para form*/
.divForm {
width: 60%;
padding: 3rem;
box-sizing: border-box;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
margin-bottom: 15px;
}
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #0f2b05;
  margin: 0;
}

.input-box {
  margin-bottom: 15px;
}

.input-box label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: 1px 1px 4px #0000001c;
  margin-bottom: 10px;
}
/* Estilos para tabelas */
table {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 12px 10px;
 
  text-align: center;
  font-size: 14px;
}

table th {
  background-color: #405b39;
  color: #f9f9f9;
  font-weight: bold;
  text-transform: uppercase;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/*
table tbody tr:hover {
  background-color: #fff;
}
*/
/* Estilos de botão */


button {
  padding: 10px 20px;
  background-color: #405b39;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #0f2b05;
}


.social-icons {
  text-align: center;


}

.social-icons p {
  color: #fff;
  /* Cor do texto */
  text-align: center;
  font-size: 16px;
  /* Tamanho da fonte */

}

.social-icons .icon {
  display: inline-block;
  margin: 10px 10px 0;
  /* Adicionando uma margem superior de  */
  font-size: 30px;
  /* Aumentei o tamanho dos ícones */
  color: #fff;
  transition: transform 0.3s ease;
  /* Adiciona uma transição suave */
}

.social-icons .icon:hover {
  transform: scale(1.2);
  /* Aumenta o tamanho do ícone em 20% no hover */
}
footer{
  background-color: #0f2b05;
  height: 200px;
  flex-direction: column;
  align-items: center;
  
}

/* inicio DARK MODE */
body.dark-mode {
  background-color: #151515;
}
body.dark-mode form {
  background-color: #282828;
}


 body.dark-mode .opcoes, body.dark-mode .section_mobile, body.dark-mode #mobile, body.dark-mode .dropdown-content{
  background: #1E1F1E;


}


.fa-universal-access, .fa-moon, .fa-sun{
  color: #7A7979;
}
body.dark-mode .sessao{
  color: #fff;
}


body.dark-mode  .fa-search {
  color: #070B06;
}


body.dark-mode .tabs-container {
  background-color: #282828;  
}


body.dark-mode .social-icons p{
  color: #fff;
}


body.dark-mode h3,
body.dark-mode p{
  color: #E1F9D7;
}

body.dark-mode .header{
  background-color: #070B06;
 }

  body.dark-mode footer, .dropdown-content a:hover {
  background-color: #070B06;
 }



body.dark-mode button{
  background-color: #151515;
}

body.dark-mode .title{
  color: #405B39;
}

body.dark-mode .conta p,
body.dark-mode #mensagem,
body.dark-mode #mensagemNome,
body.dark-mode #mensagemCpf,
body.dark-mode #mensagemCep,
body.dark-mode #mensagemEmail,
body.dark-mode #mensagemLogin,
body.dark-mode #mensagemform,
body.dark-mode .label_login,
body.dark-mode .menu_btn a,
body.dark-mode label,body.dark-mode .home,body.dark-mode .dropbtn,body.dark-mode .dropbtn, body.dark-mode a {
  color: #E1F9D7; /* Cor ajustada para elementos no modo escuro */
}




#accessibility-section {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  z-index: 9999;
  transition: all 0.3s ease;
}

#other-things {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
  z-index: 9999;
  transition: all 0.3s ease;
}


.img_letra {
  width: 20px;
}


.fa-universal-access {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
  transition: all 0.3s ease;
  font-size: 40px;
}


.fa-sun,
.fa-moon {
  font-size: 20px;
}


/* FINAL DO DARK MODE */



/* Media queries para responsividade */
/* Estilo para o menu lateral escondido e animação */

#hamburguer, #icon {
  display: none;
}

@media (max-width: 414px) {
  /* Dentro da media query para dispositivos com largura máxima de 766px */
  /* Mostre o botão de hambúrguer e o ícone do carrinho */
  #hamburguer, #icon {
    display: block;
  }
}

#mobile {
  position: fixed;
  left: -100%;  /* Inicialmente fora da tela à esquerda */
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #405b39;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /* Ajuste na sombra para o lado direito */
  transition: left 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.close-btn {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  right: 10px; /* Posição do ícone no canto superior direito do menu lateral */
  cursor: pointer;
  color: #fbf3dc; /* Cor do ícone */
  font-size: 24px; /* Tamanho do ícone */
}

.dentro_icon {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Espaçamento interno */
}

.dentro_icon a {
  color: #fbf3dc; /* Cor dos links */
  padding: 10px; /* Espaçamento dos links */
  text-decoration: none;
  font-size: 16px; /* Tamanho da fonte */
  border-bottom: 1px solid #fbf3dc; /* Linha separadora */
}

#mobile{
  display: block;
}
.icon_mobile{
  display: block;
}
.section_mobile{
  display: block;
}

.fa-times{
  color: #7ed957;
  border-color: #7ed957;
}
#hamburguer{

  width: 35px;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}
.dentro_icon{
  display: flex;
  flex-direction: column;
}
 /* Media queries para responsividade */
/* Media queries para responsividade */

#mobile {
  position: fixed;
  left: -100%;  /* Inicialmente fora da tela à esquerda */
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #405b39;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /* Ajuste na sombra para o lado direito */
  transition: left 0.5s;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.close-btn {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  right: 10px; /* Posição do ícone no canto superior direito do menu lateral */
  cursor: pointer;
  color: #fbf3dc; /* Cor do ícone */
  font-size: 24px; /* Tamanho do ícone */
}

.dentro_icon {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Espaçamento interno */
}

.dentro_icon a {
  color: #fbf3dc; /* Cor dos links */
  padding: 10px; /* Espaçamento dos links */
  text-decoration: none;
  font-size: 16px; /* Tamanho da fonte */
  border-bottom: 1px solid #fbf3dc; /* Linha separadora */
}

.mobile{
  display: none;
}
.icon_mobile{
  display: none;
}
.section_mobile{
  display: none;
}

.fa-times{
  color: #7ed957;
  border-color: #7ed957;
}
#hamburguer{

  width: 35px;
  margin-top: 2px;
  margin-left: 15px;
  font-size: 20px;
  color: #7ed957;
  border-color: #7ed957;
}
.dentro_icon{
  display: flex;
  flex-direction: column;
}
/*fim do css*/


/* Para celulares pequenos (telas menores que 400px) */

/* Ajustes adicionais para melhor visualização em dispositivos variados */
@media (max-width: 400px) {
  .divForm {
      width: 90%; /* Ajusta a largura do formulário para caber em telas muito pequenas */
      padding: 1rem; /* Reduz o padding para mais espaço */
  }

  

  .buttons {
      flex-direction: column; /* Ajusta botões para uma coluna em telas pequenas */
  }
  .buttons {
    display: flex;
    gap: 1rem;
  }

}

@media (max-width: 558px) {
  footer{
   margin-top: 700px;
  }
 }

 @media (max-width: 766px) {
  .mobile_i, .icon_mobile {
    display: block;
  }
  
  .opcoes {
    display: none;
  }

  #other-things {
    right: 40px;
  }

  .navegacao ul li {
    display: none;
  }

  .section_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #405b39;
    
  }

  .dropdown .dropbtn .fa-chevron-down {
    display: none;
  }

  .divForm form {
    margin-left: 120px;
  }

  .pesquisa-icon {
    top: 45%;
  }

  .opcoes {
    height: auto;
  }

  .menu_btn {
    padding: 5px 10px;
  }
  .pesquisa-container {
    left: 80px;
}
}

/* Ajustes específicos para o menu móvel */
@media (max-width: 766px) {
  .mobile_i, .icon_mobile {
      display: block; /* Mostra o menu hambúrguer e ícones relevantes */
  }
  .pesquisa{
    width: 400px;
  }
  .opcoes,  .nav_a {
      display: none; /* Oculta opções que não cabem em telas pequenas */
  }

  #mobile {
      display: block; /* Mostra o menu lateral */
      left: 0; /* Ajusta a posição para ser visível */
  }

  .section_mobile {
      display: flex; /* Garante que o menu mobile seja exibido corretamente */
  }
}

@media (max-width: 915px) {
  header {
    width: 920px !important;
  }
  footer{
    width: 920px;
  }
  .divForm form{
    width: 350px;
    margin-left: 100px;
  }

    .divForm {
      display: block;
      padding: 100px
    }
}

@media (max-width: 918px) {
  .container {
    width: 142vh;
  }
}













